.post-template1 {
    position: relative;
    background-color: #d7ebfc;
    padding: 20px;
    margin-block: 10px;
    border-radius: 5px;
    width: 62%;
}
.dev_logo_container {
    position: absolute;
    bottom: 8px;
    right: 5px;
    display: flex;
    align-items: center;
    padding-right: 15px;
}
.dev_logo {
    width: 50px;
    height: 50px;
}
.dev_name {
    font-family: monospace;
    font-weight: 600;
    display: flex;
    align-items: flex-end;
    height: auto;
    bottom: -7px;
    position: relative;
    left: -7px;
}
.dev_post_inst{
    line-height: 1.8;
}
.dev_post_highlight_pt {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 3px;
    display: inline-flex;
    line-height: 1.2;
    font-style: italic;
    color: #555;
    background: #ddd;
}
.dev_post_hashtags {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 3px;
    margin-block: 10px;
}
.snapshot_main {
    padding: 5px;
    border: 1px solid #008080;
    border-radius: 3px;
    background: #7fbfbf;
    color: #096C6C;
    cursor: pointer;
    font-size: 24px;
    display: inline-flex;
}
.clipboard_icon {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 3px;
    line-height: 1;
    cursor: pointer;
    margin-inline: 5px;
    font-size: 18px;
}
